img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail.wp-post-image {
  width: 250px;
}
input#custom-image-input {
  width: 100%;
}
.variation-Image img {
  max-width: 60px;
}
.disabled-button {
  pointer-events: none;
  background-color: #767676;
}